.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.mainContainer {
  height: 463px;
  width: 80%;
  max-width: 978px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 39px;
}
.mainContainer__infos {
  width: 363px;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 1200px) {
  .mainContainer {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  .mainContainer__infos {
    margin-bottom: 50px;
  }
}
