@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
